
<script>
  async function initProductRecommendations ()  {
    const baseUrl = '{{ routes.product_recommendations_url }}';
    const productId = {{ product.id }};
    const limit = 8;
    const intent = 'related';

    const url = `${baseUrl}?product_id=${productId}&limit=${limit}&intent=${intent}`;

    const response = await fetch(url);
    const data = await response.text();

    document.querySelector('#featured-products-{{ section.id }}')
      .closest('.shopify-section').outerHTML = data;
  }

  window.addEventListener('DOMContentLoaded', () => {
    initProductRecommendations();
  });

  document.addEventListener('shopify:section:load', (e) => {
    if (e.target.querySelector('.featured-products')) {
      initProductRecommendations();
    }
  });
</script>

  <div 
    class="container">
    <div >
          {% for product in recommendations.products %}
            <div >
              {% render 'product-card', product: product %}
            </div>
          {% endfor %}
    
          {% for product in products limit: section.settings.limit %}
            <div >
              {% render 'product-card', product: product %}
            </div>
          {% endfor %}
  
    </div>
  </div>

