<div class="container">
<div class="contentLeft">
<div class="row">
<div class="imgWrapper"><img src="https://images.unsplash.com/photo-1687579521048-217e24217d53?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcxNzl8&amp;ixlib=rb-4.0.3&amp;q=85" alt=""></div>
</div>
</div>
<div class="contentRight">
<div class="content">

<h2>About Abide Hawaii</h2>
<p>
Abide began in 2020 during a severe toilet paper shortage, which hit Hawai'i especially hard. Our founder, Jenny Wang, founded Abide Hawaii from her home office, launching a company that now serves Hawai'i exclusively from its Honolulu base. Abide became Hawai'i's first and only local brand offering bamboo bath tissue, napkins, and paper towels, a unique alternative that also met critical local needs.
</p>
</div>
</div>
</div>

<div class="container">
<div class="contentLeft">
<div class="content">

<h2>About Abide Hawaii</h2>
<p>
Abide began in 2020 during a severe toilet paper shortage, which hit Hawai'i especially hard. Our founder, Jenny Wang, founded Abide Hawaii from her home office, launching a company that now serves Hawai'i exclusively from its Honolulu base. Abide became Hawai'i's first and only local brand offering bamboo bath tissue, napkins, and paper towels, a unique alternative that also met critical local needs.
</p>
</div>
</div>
  
  <div class="contentRight">
<div class="row">
<div class="imgWrapper"><img src="https://images.unsplash.com/photo-1687579521048-217e24217d53?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcxNzl8&amp;ixlib=rb-4.0.3&amp;q=85" alt=""></div>
<div class="imgWrapper"><img src="https://images.unsplash.com/photo-1686580546412-80e80519abd7?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyMDN8&amp;ixlib=rb-4.0.3&amp;q=85" alt=""></div>
</div>
</div>
</div>
  
<style>

 
  .imgwrapper {
    padding: 0px;
    margin: 0px;
  }
  .container{
    width: 90%;
    height: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 60px;
    padding: 35px 0;
}
.contentLeft,
.contentRight{
    width: 100%;
}
.contentLeft .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
.contentLeft .row .imgWrapper{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  padding: 0px;
    transition: 0.3s ease;
}
.contentLeft .row .imgWrapper:hover img{
    transform: scale(1.5);
}
.contentLeft .row .imgWrapper:nth-child(odd){
    transform: translateY(-20px);
}
.contentLeft .row .imgWrapper:nth-child(even){
    transform: translateY(20px);
}
.contentRight .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.contentRight .content h4{
    font-size: 22px;
    font-weight: 400;
    color: #d35400;
}
.contentRight .content h2{
    font-size: 40px;
    color: #1e272e;
}
.contentRight .content p{
    font-size: 16px;
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
}
.contentRight .content a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 30px;
    color: #fff;
    background: #d35400;
    border-radius: 8px;
    user-select: none;
}
@media(max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }
    .contentLeft .row{
        grid-template-columns: repeat(2, 1fr);
    }
    .contentLeft .row .imgWrapper{
        height: 150px;
    }
    .contentRight .content h4{
        font-size: 18px;
    }
    .contentRight .content h2{
        font-size: 30px;
    }
}
</style>